<footer class="site-footer">

  <div class="row">
    <div class="column large-12">
      <div class="site-footer__top">
        <div class="row">

          <div class="site-footer__section column medium-3 large-3">
            <a href="{{@blog.url}}">{{@blog.title}}</a>
          </div>

          <div class="site-footer__section column medium-3 large-3">
            <nav>
              <ul class="list-bare site-footer__nav">
                {{navigation}}
                <li><a class="subscribe-button icon-feed" href="{{@blog.url}}/rss/">RSS</a></li>
              </ul>
            </nav>
          </div>

          <div class="site-footer__section column medium-3 large-3">
            <ul class="site-footer__nav social-icons list-bare">
              <li>
                <a href="http://www.twitter.com/ohhiandie" target="_blank">
                  <span data-icon="ei-sc-twitter" data-size="s"></span>
                  Twitter
                </a>
              </li>
              <li>
                <a href="https://www.facebook.com/ohhiandie" target="_blank">
                  <span data-icon="ei-sc-facebook" data-size="s"></span>
                  Facebook
                </a>
              </li>
              <li>
                <a href="https://instagram.com/{ohhiandie" target="_blank">
                  <span data-icon="ei-sc-instagram" data-size="s"></span>
                  Instagram
                </a>
              </li>
            </ul>
          </div>

          <div class="site-footer__section column medium-3 large-3">
            <p class="font-medium">
              Follow Me on Bloglovin'
            </p>
            <a class="blsdk-follow" href="https://www.bloglovin.com/blogs/o-h-h-i-a-n-d-i-e-16524885" target="_blank">Follow</a><script>(function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) return;js = d.createElement(s);js.id = id;js.src = "https://www.bloglovin.com/widget/js/loader.js?v=1";fjs.parentNode.insertBefore(js, fjs);}(document, "script", "bloglovin-sdk"))</script>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="column large-12">
      <div class="site-footer__bottom">
        <div class="row">

          <div class="column medium-6 large-6">
            <div class="font-tiny">
              &copy; {{date format="YYYY"}} {{@blog.title}}
            </div>
          </div>

          <div class="column medium-6 large-6 poweredby">
            <div class="font-tiny">
              Powered by <a href="https://ghost.org">Ghost</a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</footer>